* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > h1{
    font-size: 35px;
    padding: .7rem 0 0 .7rem;
    color: rgb(41, 177 , 221);
}

.middle{
    background-color: rgb(41, 177 , 221);
    padding: 1rem 0 1rem 0;
    text-align: center;
}

.text{
    color: white;
}


.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: gainsboro;
    border-radius: 10px;
    margin: 2rem 1rem 0 1rem;
}

.fas{
    font-size: 35px;
}
